.container{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;


}
.ship{
    width: 100%;
    text-align: center;
    color: rgb(212, 79, 132);
    text-shadow: 2px 2px 4px rgb(171, 121, 171);
}