<div *ngIf="squadron" class="squad">
  <h3>
    Squad Name:
    <input
      *ngIf="editMode"
      [(ngModel)]="squadron.squadronName"
      placeholder="Enter squad name"
    />
    <span *ngIf="!editMode">{{ squadron.squadronName }}</span>
  </h3>
  <h3>
    Squadron Id:
    <span>{{ squadron.squadronId }}</span>
  </h3>
  <h3>
    Squadron Max Capacity:
    <input
      *ngIf="editMode"
      [(ngModel)]="squadron.maxCapacity"
      placeholder="Enter max capacity"
    />
    <span *ngIf="!editMode">{{ squadron.maxCapacity }}</span>
  </h3>
<div class="buttons">
  <button *ngIf="squadron.squadronId !== 1" (click)="toggleEditMode()" class="button">
    {{ editMode ? "Cancel" : "Edit" }}
  </button>
  <button *ngIf="editMode" (click)="submitChanges()" class="button">
    Submit
  </button>
  <button *ngIf="!editMode && squadron.squadronId !== 1" (click)="goToManageSquadron()" class="button">
    Manage
  </button>
  <button *ngIf="squadron.squadronId !== 1" (click)="deleteSquad()" class="button">Delete</button>
</div>
</div>
