.ship{
    margin-top: 20px;
    background-color: rgba(13, 19, 33, 0.5);
    border-radius: 4px;
    display: block;
    justify-content: space-evenly;
    align-content: center;
    width: 80%;
    width: 280px;
    height: 300px;
    padding: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: white;
    font-size: 16px;
    text-shadow: 2px 2px 4px rgb(53, 52, 52);
    box-shadow: rgba(183, 77, 119, .7) 3px 4px;
    padding-left: 20px;
}
.shipType{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.typeObject{
    margin: 19px 6px;
    font-size: 19px;
}

button{
    align-items: center;
    height: 33px;
    width: 73px;
    border-radius: 10px;
    background-color: #b74d77;
    box-shadow: rgba(0, 0, 0, 0.4) 3px 4px;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0);
    border-style: none;
    transition: background-color 0.3s;
    font-size: 14px;
    margin-bottom: 15px;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
button:hover{
    cursor:pointer;
    background-color: #a34369;
    transform: translateY(1px) translateX(1px);
    box-shadow: rgba(0, 0, 0, 0.4) 2px 3px;
}
button:active{
    background-color: #7f3452;
    transform: translateY(3px) translateX(4px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px;
}