<div *ngIf="person" class="person">
  <h3>Id: {{ person.personnelId }}</h3>

  <h3>
    Personnel Name:
    <input
      *ngIf="editMode"
      [(ngModel)]="person.personnelName"
      placeholder="Enter name"
    />
    <span *ngIf="!editMode">{{ person.personnelName }}</span>
  </h3>

  <h3>Squadron Name: {{ squadName }}</h3>

  <h3>
    Role:
    <select *ngIf="editMode" [(ngModel)]="person.commander">
      <option [value]="true">Commander</option>
      <option [value]="false">Pilot</option>
    </select>
    <span *ngIf="!editMode">{{
      person.commander ? "Commander" : "Pilot"
    }}</span>
  </h3>

  <div class="buttons">
    <button (click)="toggleEditMode()" class="button">
      {{ editMode ? "Cancel" : "Edit" }}
    </button>
    <button *ngIf="editMode" (click)="submitChanges()" class="button">
      Submit
    </button>
    <button (click)="deletePersonnel()" class="button">Delete</button>
  </div>
</div>

