<div class="centering">
  <div class="landing-page-container">
    <h1 class="welcome-text">Welcome to the Pangolactic Admiral Dashboard!</h1>
    <h3 class="selection-text">What would you like to view/manage?</h3>
    <div class="button-container">
      <button type="button" routerLink="/squadronview" class="welcome-button">
        Squadrons
      </button>
      <button type="button" routerLink="/shipsview" class="welcome-button">
        Ships
      </button>
      <button type="button" routerLink="/personnelview" class="welcome-button">
        Personnel
      </button>
    </div>
  </div>
</div>
